body {
    font-family: 'Crimson Text', Georgia, serif;
    color: #333333;
    text-align: center;
}


#logo {
    margin: auto;
    padding-top: 12%;
}

.titleLetter {
    display: inline-block;
    width: 1em;
    font-size: 100px;
    font-weight: bold;
}

#semicolon{
    width: .3em;
}

#subtitle {
    font-size: 1.25em;
    letter-spacing: .3em;
    display: block;
    margin: auto;
    padding-top: 20px;
    text-transform: uppercase;
}

#homeNav{
    width: 100%;
}

#homeNav a{
    text-decoration: none;
    color: black;
}

#homeNav a:hover {
	color: #bbbbbb;
}

#homeNav ul{
	list-style-type:none;
	padding-top: 3%;
	font-size: 1em;
	font-family: Tahoma, sans-serif;
	letter-spacing: .2em;
    padding: 5% 0;
    margin: 0;
}

#homeNav li {
	display: inline-block;
    width: 14em;
}

#homeNav li:hover {
	color: #bbbbbb;
	font-family: Georgia;
}


#homeRule {
    width: 10%;
    display: block;
    margin-top: 5%;
}

#catCredit {
    display: none;
}

#preload{ 
    background: url("../img/bookcat.jpg") no-repeat -9999px -9999px;
}