html, body{
    margin: 0;
    padding: 0;
}

html {
    color: #333333;
}

.titleLetter{
    cursor: pointer;
    cursor: hand;
}


/* CONTENT PAGES STUFF */
h1 {
    text-align: center;
    text-transform: uppercase;
}

h2{
    text-align: center;
}

#nav {
    text-align: center;
    background-color: #333333;
    color: white; 
    padding: 20px;
}

#nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

#nav li {
	display: inline-block;
	font-size: 1em;
	font-family: Tahoma;
	letter-spacing: .1em;	
	text-align: center;
	font-weight: bold;
	padding-right: 20px;
    color: white;
}

#nav a {
	text-decoration: none;
	color: white;
}

#nav a:hover{
	color: #bbbbbb;

}


#content {
    text-align: left;
    padding-top: 75px;
    width: 75%;
    max-width: 800px;
    margin: auto;
}

#navTitle {
    font-family: 'Crimson Text', Georgia, serif;
	letter-spacing: .2em;
	font-weight: bold;
	display: block;
	font-size: 2em;
    margin-bottom: 20px;
}


/*Horizontal rules*/
.doubleUneven {
    width: 100px;
    border-top: solid #333333 3px;
    border-bottom: solid #333333 1px;
    padding: 1px;
    border-left: 0;
    border-right: 0;
}

@media screen and (min-width: 600px) {
    #navTitle{
        display: inline-block;
        margin-bottom: 0;
    }
    #nav ul{
        display: inline;
    }

}