/* Geocities style
kinda want a custom pointer but it's okay for now
*/

html {
    cursor: crosshair; 
}

body {
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    background-color: cyan;
    background-image: url("../img/tile2.png");
    color: blue;
    padding: 3%;
    text-align: center;
    font-size: 75px;
}


#logo {
    background-color: white;
    background-image: url("../img/notfound.jpg");
    background-position: 98% 5%;
    background-repeat: no-repeat;
    display: block;
    margin: auto;
    border: red 1px solid;
    width: 9em;
}

#i {
    color: red;
    font-size: 100px;
}

.titleLetter {
    display: inline-block;
    font-weight: bold;
    font-size: 75px;
    color: fuchsia;
}


#subtitle {
    font-size: 50px;
    font-family: Papyrus, fantasy;
}

#homeNav{
    font-size: 20px;
}

#homeNav a{
    padding: 7px;
    border: inset gray 4px;
    background-color: gray;
    
}


#homeNav ul{
	font-size: 1em;
	font-family: Tahoma, sans-serif;
}

#homeNav li {
	display: inline-block;
}

    

#homeRule {  
  width: 75%; 
  color: none;
  display: block;
  border-top: dotted 10px red;
}

#catCredit {
    display: none;
}


.hide{
    display: none;
}
