// ---------------------------------------------------------------------------
// Imports
@import "compass";
@import "susy";

// ---------------------------------------------------------------------------
// Basic Grid

$total-columns  : 12;
$column-width: 60px;
$gutter-width: 20px;
$grid-padding   : $gutter-width;
$container-style: magic;

$show-grid-backgrounds  : true;
