body {
	text-align: center;
}

#logo {
	margin: auto;
	padding-top: 15%;
}

.title {
	display: inline-block;
	width: 2em;
	font-size: 100px;
	font-family: Georgia;
	font-weight: bold;
	}

#subtitle {
	font-size: 1.25em;
	letter-spacing: .5em;
	text-align: center;
	display: block;
	margin: auto;
	padding-top: 20px;
}
	
#i:hover {
 font-family: Arial;
}
	
#v:hover {
 font-family: Arial;

}
	
#a:hover {
 font-family: Arial;

}
	
#n:hover {
 font-family: Arial;

}
	
#h:hover {
 font-family: Arial;

}
	
#o:hover {
 font-family: Arial;

}
	
#e:hover {
 font-family: Arial;

}

#nav ul{
	list-style-type:none;
	padding-top: 5%;
	font-size: 1em;
	font-family: Tahoma;
	letter-spacing: .2em;
}

#nav li {
	display: inline-block;
	width: 15em;	
	height: 2.5em;
	border: 2px black solid;
	margin: 3em;
	padding-top: 1em;
}

#nav li:hover {
	border: 2px #bbbbbb solid;
	color: #bbbbbb;
	font-family: Georgia;
}
