body {

}

/* FRONT PAGE STUFF */

#logo {
    margin: auto;
    text-align: center;
    padding-top: 12%;
}

.title {
    display: inline-block;
    width: 1em;
    font-size: 100px;
    font-family: 'Crimson Text', Georgia, serif;
    font-weight: bold;
	}

#subtitle {
	font-size: 1.25em;
	letter-spacing: .3em;
	text-align: center;
	display: block;
	margin: auto;
	padding-top: 20px;
    text-transform: uppercase;
}
	
#i:hover {
 font-family: Arial;
}
	
#v:hover {
 font-family: Arial;

}
	
#a:hover {
 font-family: Arial;

}
	
#n:hover {
 font-family: Arial;

}
	
#h:hover {
 font-family: Arial;

}
	
#o:hover {
 font-family: Arial;

}
	
#e:hover {
 font-family: Arial;

}

#homeNav{
    text-align: center;
}

#homeNav a{
	text-decoration: none;
	color: black;
}

#homeNav a:hover {
	color: #bbbbbb;
}

#homeNav ul{
	list-style-type:none;
	padding-top: 3%;
	font-size: 1em;
	font-family: Tahoma;
	letter-spacing: .2em;
}

#homeNav li {
	display: inline-block;
	width: 15em;	
	height: 2.5em;
	margin: 3em;
	padding-top: 1em;
}

#homeNav li:hover {
	color: #bbbbbb;
	font-family: Georgia;
}

#dl{
	border-top: 1px black solid;
	border-bottom: 1px black solid;
}


#homeRule {
    width: 100px;
    display: block;
    margin-top: 5%;
}


/* CONTENT PAGES STUFF */

#nav {
    text-align: center;
    position: fixed;
    top: 0px;
    margin: auto;
    z-index: 100000;
    width: 100%;
    background-color: black;
    color: white; 
}

#nav ul{
	display: inline;
}

#nav li {
	display: inline-block;
	list-style-type:none;
	font-size: 1em;
	font-family: Tahoma;
	letter-spacing: .1em;	
	text-align: left;
	width: 15em;
	font-weight: bold;
	padding: 20px 0;
    color: white;
}

#nav a {
	text-decoration: none;
	color: white;
}

#nav a:hover{
	color: #bbbbbb;
}


#content {
    text-align: left;
    padding-top: 75px;
    width: 75%;
    min-width: 800px;
    margin: auto;
}

#navTitle {
    font-family: 'Crimson Text', Georgia, serif;
	letter-spacing: .2em;
	font-weight: bold;
	display: inline-block;
	font-size: 2em;
	padding: 20px 0;
}


/*Horizontal rules*/

.doubleUneven {
    border-top: solid black 3px;
    border-bottom: solid black 1px;
    padding: 1px;
    border-left: 0;
    border-right: 0;

}