* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing:border-box;
}

html {
    font-family: Quicksand, sans-serif;
    color: #444;
}

body {
    max-width: 500px;
    margin: 50px auto;
}

h1 {
    font-size: 100px;
    text-align:center;
    font-weight: normal;
}

nav {
    text-align:center;
}

a {
    text-decoration: none;
}

a:link,
a:visited {
    color: #38c;
}

a:hover,
a:focus,
a:active{
    color: #8c3;
}

img {width: 40%;}

#slab-link {
    display: block;

}

#footernav {
    text-align: center;
}

#button1 a {
    width: 150px;
    line-height: 150px;
    border-radius: 75px;
    background-color: #e63232;
    color: white;
    display: block;
    float: left;
    
}

#button2 a {
    width: 150px;
    line-height: 150px;
    border-radius: 75px;
    background-color: #00db9f;
    color: white;
    display: block;
    float: left;
    
}

#button3 a {
    width: 150px;
    line-height: 150px;
    border-radius: 75px;
    background-color: #38c;
    color: white;
    display: block;
    float: left;
    
}