// Imports
@import "compass";
@import "susy";
@import "mixins";
@import url(http://fonts.googleapis.com/css?family=Crimson+Text:400,700);

// blues: 5995c8 3b8cbb

$accent1: #3b8cbb;
$accent2: lighten($accent1, 10%);
$accent3: #3D3F55;

$base-font-size: 20px;
$base-line-height: 30px;
