@import "base";

/*
 * Main layout stuff
 */

* {
    @include box-sizing(border-box);
}

@include establish-baseline();

html {
    margin:0;
    padding: 0;
}

body {
    font-family: 'Crimson Text', Georgia, serif;
    margin:0;
    @include container;
    padding: 0 2em;
    color: #444;
    background: #fff;
    max-width: 1200px;
}

.home {
    section {
        border-bottom: 3px solid black;
        @include padding-leader(2);
        @include padding-trailer(2);
        @include clearfix;
    }
}

#about,#download, #team {
    border-bottom: 3px solid black;
    @include padding-leader(2);
    @include padding-trailer(2);
    @include clearfix;
}

#team {
    border:none;
}

#download {

    .text {
        p {
            @include adjust-font-size-to(24px);
            @include adjust-leading-to(1.5, 24px);
            &:first-child {
                margin-top:0;
            }
        }

    }

    .links {
        a {
            display:block;
            clear:both;
            text-align:right;
        }
    }


}


#download-link {
    display:block;
    @include padding-leader(1, 30px);
    @include padding-trailer(1, 30px);
    @include adjust-font-size-to(30px);
    text-decoration:none;
    background-color: $accent1;
    color: #fff;
    text-align:center !important;
}

#about {
    @include padding-leader(2);
    @include padding-trailer(2);
    border-bottom: 3px solid black;
}

#team {

    h2 {
        @include adjust-font-size-to($base-font-size);
        margin:0;
        text-align:left;
    }

}

h1 {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 700;

    #banner & {
        @include adjust-font-size-to(60px);
        @include adjust-leading-to(4, 60px);
        margin:0;
        text-align: center;

        a {
            color: #444;
        }
    }

}

h1,h2 {
    text-align:center;
}

h2 {
    @include margin-leader(2, 24px);
    @incldue adjust-font-size-to(24px);
}

.audible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* Links */
a {
    &:link,
    &:visited {color: $accent1;}
    &:hover {color: $accent2;}
    &:active {color: #000;}

    h1 &,
    h2 & {
        text-decoration:none;
    }
}

a, img {
    border:0;
}

img {
    max-width: 100%;
    max-height:100%;
    height:auto;
}

#banner {
    border-bottom: 3px solid #222;
    text-align:center;
    position:relative;
    @include padding-leader(2);

    nav {
        position: absolute;
        top:rhythm(1);
        width: 100%;
        ul {
            list-style:none;
            margin:0;
            padding: 0;
            @include adjust-font-size-to(16px);
            @include adjust-leading-to(1, 16px);
            @include margin-trailer(1, 16px);
            text-transform: uppercase;
            letter-spacing: 2px;
        }

        li {
            display:inline;

            & + li:before {
                content: " · ";
                color: #999;
            }
        }

        a {
            text-decoration:none;
        }
    }

}

.tagline {
    font-style:normal;
    @include adjust-font-size-to(30px);
    @include adjust-leading-to(3, 30px);
    color: #555;
    display:block;
}


#contentinfo {
    border-top: 3px solid #222;
    text-align:center;
    @include margin-leader(1);
    @include padding-leader(1);
    @include padding-trailer(1);
}

#slab-link {
    display:block;
    margin: rhythm(1) auto;
}

@media screen and (min-width: 500px) {

    #banner {
        @include padding-leader(2);
        h1 {
            @include adjust-font-size-to(80px);
        }
    }

}


@media screen and (min-width: 750px) {

    #banner {
        @include padding-leader(3);
        h1 {
            @include adjust-font-size-to(150px);
        }
    }

    section, div {
        .primary {
            @include span(4 of 8);
        }
        .secondary {
            @include span(last 4 of 8);
        }
    }

}

@media screen and (min-width: 1000px) {

    #banner {
        @include padding-leader(5);
        h1 {
            @include adjust-font-size-to(200px);
        }
    }
}
