@import "base";

/*
 * Main layout stuff
 */

* {
    @include box-sizing(border-box);
}

@include establish-baseline();

html {
    margin:0;
    padding: 0;
    background-color: #efefec;
}

body {
    font-family: 'Crimson Text', Georgia, serif;
    @include container;
    margin:0;
    padding: 0 2em;
    color: #444;
    background: #fff;
}


h1 {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 700;

    #banner & {
        @include adjust-font-size-to(60px);
        @include adjust-leading-to(4, 60px);
        margin:0;
        text-align: center;

        a {
            color: #444;
        }
    }

}

h1,h2 {
    text-align:center;
}

h2 {
    @include margin-leader(2, 24px);
    @incldue adjust-font-size-to(24px);
}

.audible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* Links */
a {
    &:link,
    &:visited {color: $accent1;}
    &:hover {color: $accent2;}
    &:active {color: #000;}

    h1 &,
    h2 & {
        text-decoration:none;
    }
}

a, img {
    border:0;
}

img {
    max-width: 100%;
    max-height:100%;
    height:auto;
}

#banner {
    border-bottom: 3px solid #222;
    text-align:center;

    nav {

        ul {
            list-style:none;
            margin:0;
            padding: 0;
            @include adjust-font-size-to(20px);
            @include adjust-leading-to(1, 20px);
            @include margin-trailer(1, 20px);
            text-transform: uppercase;
            letter-spacing: 2px;
        }

        li {
            display:inline;

            & + li:before {
                content: " · ";
                color: #999;
            }
        }

        a {
            text-decoration:none;
        }
    }

}


#contentinfo {
    border-top: 3px solid #222;
    text-align:center;
    @include margin-leader(1);
    @include padding-leader(1);
    @include padding-trailer(1);
}

#slab-link {
    display:block;
    margin: rhythm(1) auto;
}

.open-sans {
    font-family: "Open Sans";
}
.slabo {
    font-family: Slabo;
}
.crimson-text {
    font-family: "Crimson Text";
}
.pt-sans {
    font-family: "PT Sans";
}
.raleway {
    font-family: "Raleway";
}
.roboto-slab {
    font-family: "Roboto Slab";
}
.bitter {
    font-family: Bitter;
}
.dosis {
    font-family: Dosis;
}

@media screen and (min-width: 500px) {

    html {
        @include background-image(
            linear-gradient(top, white, white)
        );
        background-size: 80% 1px;
        background-repeat: repeat-y;

    }

    body {
        max-width: 80%;
    }

}
