@charset "UTF-8";
/* line 3, ../sass/screen.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 7, ../sass/screen.scss */
html {
  margin: 0;
  padding: 40px;
}

/* line 12, ../sass/screen.scss */
body {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  color: #444;
  margin: 0;
  padding: 0;
}

/* line 19, ../sass/screen.scss */
h1 {
  font-weight: 200;
  font-size: 2.5em;
  line-height: 1.2em;
}

/* line 24, ../sass/screen.scss */
h2 {
  font-weight: 700;
}

/* line 2, ../sass/_mixins.scss */
.excerpt:before, .excerpt:after {
  content: "";
  display: table;
  width: 100%;
}
/* line 8, ../sass/_mixins.scss */
.excerpt:after {
  clear: both;
}
/* line 12, ../sass/_mixins.scss */
.excerpt, .ie .excerpt {
  *zoom: 1;
}

/* Links */
/* line 34, ../sass/screen.scss */
a:link {
  color: #004D05;
}
/* line 35, ../sass/screen.scss */
a:visited {
  color: #004D05;
}
/* line 36, ../sass/screen.scss */
a:hover {
  color: #8c3;
  text-decoration: none;
}
/* line 37, ../sass/screen.scss */
a:active {
  color: #8a3;
}
/* line 39, ../sass/screen.scss */
h1 a, h2 a {
  text-decoration: none;
}

/* Forms */
/* line 46, ../sass/screen.scss */
input[type=text], label, textarea {
  display: block;
}

/* line 48, ../sass/screen.scss */
label {
  font-size: 20px;
  font-weight: bold;
}

/* line 53, ../sass/screen.scss */
input[type=text], textarea {
  width: 100%;
  border-radius: 3px;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

/* line 60, ../sass/screen.scss */
textarea {
  display: block;
}

/* Images */
/* line 65, ../sass/screen.scss */
img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

/* WordPress Generated Classes */
/* line 72, ../sass/screen.scss */
.alignright {
  float: right;
  padding-left: .5em;
}

/* line 77, ../sass/screen.scss */
.aligncenter {
  margin-left: auto;
  margin-right: auto;
  padding-left: .5em;
  padding-right: .5em;
}

/* line 84, ../sass/screen.scss */
.alignleft {
  float: left;
  padding-right: .5em;
}

/* line 89, ../sass/screen.scss */
.wp-caption-text {
  font-size: 75%;
  text-align: center;
}

/* Custom Utility Classes */
/* line 95, ../sass/screen.scss */
.citation {
  font-variant: small-caps;
}

/* line 99, ../sass/screen.scss */
.eyebrow {
  margin: 0;
  color: #777;
  font-size: 90%;
  font-weight: bold;
}

/* line 106, ../sass/screen.scss */
.eyebrow + * {
  margin-top: 0 !important;
}

/* line 110, ../sass/screen.scss */
.button {
  width: 200px;
  height: 30px;
  line-height: 30px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  display: block;
  text-align: center;
  position: relative;
  background: #a8a8a8;
  margin-top: 10px;
  /*Background Gradients */
  background-image: -moz-linear-gradient(bottom, #34612d 0%, #217d0f 100%, #b5d1b2 100%);
  background-image: -webkit-linear-gradient(bottom, #34612d 0%, #217d0f 100%, #b5d1b2 100%);
  background-image: linear-gradient(to top, #34612d 0%, #217d0f 100%, #b5d1b2 100%);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #368DBE;
  border-top: 1px solid #C3D6DF;
}
/* line 130, ../sass/screen.scss */
.button:link, .button:visited {
  color: white;
  color: rgba(255, 255, 255, 0.85);
}
/* line 135, ../sass/screen.scss */
.button:hover, .button:active {
  color: white;
}

/* line 142, ../sass/screen.scss */
.return-button {
  margin-top: 20px;
  text-align: right;
  float: right;
}

/* Banner */
/* line 150, ../sass/screen.scss */
header[role=banner] {
  border-bottom: 1px solid #ccc;
}
/* line 2, ../sass/_mixins.scss */
header[role=banner]:before, header[role=banner]:after {
  content: "";
  display: table;
  width: 100%;
}
/* line 8, ../sass/_mixins.scss */
header[role=banner]:after {
  clear: both;
}
/* line 12, ../sass/_mixins.scss */
header[role=banner], .ie header[role=banner] {
  *zoom: 1;
}
/* line 154, ../sass/screen.scss */
header[role=banner] h1 {
  font-size: 2.25em;
  line-height: 1.33333em;
}

/* Main Navigation */
/* line 161, ../sass/screen.scss */
nav {
  display: block;
  float: right;
  text-align: right;
  width: 60%;
}
/* line 167, ../sass/screen.scss */
nav a {
  text-decoration: none;
  color: #777;
}
/* line 172, ../sass/screen.scss */
nav ul {
  list-style: none;
  padding-left: 0;
}
/* line 177, ../sass/screen.scss */
nav li {
  display: inline;
}
/* line 180, ../sass/screen.scss */
nav li + li:before {
  content: " · ";
  color: #ccc;
}

/* Main Content Container */
/* line 188, ../sass/screen.scss */
main {
  clear: both;
  overflow: hidden;
  zoom: 1;
  border-radius: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* line 197, ../sass/screen.scss */
#game-data, .source-response-container {
  width: 32.20339%;
  float: right;
  margin-right: 0;
  *margin-left: -20px;
  display: inline;
  background: #eee;
  background: rgba(0, 0, 0, 0.05);
  clear: both;
  border: dotted 1px #ccc;
  padding: 1px 1.5em;
}
/* line 206, ../sass/screen.scss */
#game-data .role img, .source-response-container .role img {
  width: 75px;
  height: 75px;
}

/* line 213, ../sass/screen.scss */
#moves {
  width: 66.10169%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  text-align: justify;
}

/* line 218, ../sass/screen.scss */
.discussion-source {
  border-bottom: 1px dotted gray;
}

/* line 222, ../sass/screen.scss */
.discussion-response {
  border-bottom: 1px dotted gray;
}

/* line 226, ../sass/screen.scss */
.options {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  text-align: center;
}

/* line 233, ../sass/screen.scss */
article {
  background-color: white;
  background-color: rgba(255, 255, 255, 0.9);
  border: dotted 1px #ccc;
  margin-bottom: 1.5em;
  padding: 1px 1.5em;
  /* Removes padding, background, and border on the first article on blog posts and author pages. */
  /* Articles with a class of role. */
    /* Articles with a class of move.
    &.move {
        margin-bottom: rhythm(3);
        @include clearfix;
    }

    /* Articles with a class of game. */
}
/* line 241, ../sass/screen.scss */
.single main > article, .author main > article {
  padding: 0;
  background: none;
  border: none;
}
/* line 2, ../sass/_mixins.scss */
article:before, article:after {
  content: "";
  display: table;
  width: 100%;
}
/* line 8, ../sass/_mixins.scss */
article:after {
  clear: both;
}
/* line 12, ../sass/_mixins.scss */
article, .ie article {
  *zoom: 1;
}
/* line 252, ../sass/screen.scss */
article.role {
  width: 100%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
/* line 255, ../sass/screen.scss */
article.role .wp-post-image {
  float: left;
  margin-right: 1.5em;
}
/* line 269, ../sass/screen.scss */
article.game article {
  padding: 1.5em;
}
/* line 273, ../sass/screen.scss */
article.game header {
  width: 100%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  margin-top: 0;
  margin-bottom: 1.5em;
  padding: 0;
}
/* line 280, ../sass/screen.scss */
article.game h1 {
  font-size: 400%;
  font-variant: small-caps;
  margin-bottom: 5px;
  margin-top: 5px;
}
/* line 288, ../sass/screen.scss */
article.game .move h1 {
  font-size: 200%;
  margin-bottom: 5px;
  margin-top: 5px;
}
/* line 2, ../sass/_mixins.scss */
article header:before, article header:after {
  content: "";
  display: table;
  width: 100%;
}
/* line 8, ../sass/_mixins.scss */
article header:after {
  clear: both;
}
/* line 12, ../sass/_mixins.scss */
article header, .ie article header {
  *zoom: 1;
}
/* line 299, ../sass/screen.scss */
article header .button {
  float: right;
  display: inline;
}
/* line 304, ../sass/screen.scss */
article header p {
  width: 49.15254%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}

/* line 311, ../sass/screen.scss */
.game-discussion-source {
  width: 43.18182%;
  float: left;
  margin-right: 2.27273%;
  display: inline;
}

/* line 315, ../sass/screen.scss */
.game-discussion-response {
  width: 43.18182%;
  float: right;
  margin-right: 0;
  *margin-left: -20px;
  display: inline;
}

/* line 319, ../sass/screen.scss */
.move .meta {
  font-size: 90%;
  color: #999;
  margin-top: 0;
  margin-bottom: 4em;
}

/* Global footer */
/* line 327, ../sass/screen.scss */
footer[role=contentinfo] {
  border-top: 1px solid #ccc;
  padding: 4.5em 0;
}
/* line 2, ../sass/_mixins.scss */
footer[role=contentinfo]:before, footer[role=contentinfo]:after {
  content: "";
  display: table;
  width: 100%;
}
/* line 8, ../sass/_mixins.scss */
footer[role=contentinfo]:after {
  clear: both;
}
/* line 12, ../sass/_mixins.scss */
footer[role=contentinfo], .ie footer[role=contentinfo] {
  *zoom: 1;
}
/* line 332, ../sass/screen.scss */
footer[role=contentinfo] .ivanhoelink {
  display: block;
  width: 25.42373%;
  margin-left: auto;
  margin-right: auto;
}

/* line 341, ../sass/screen.scss */
#pagination {
  width: 74.57627%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  margin-bottom: 50px;
}

/* line 346, ../sass/screen.scss */
.attribution {
  color: red;
  font-variant: small-caps;
}

/* line 352, ../sass/screen.scss */
.new-post > div {
  margin-bottom: 1.5em;
}

/* line 357, ../sass/screen.scss */
.wp-editor-wrap * {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* Fixes tab height issue. */
}

/* line 361, ../sass/screen.scss */
#wrap {
  background-color: white;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #ccc;
  *zoom: 1;
  max-width: 1180px;
  _width: 1180px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
/* line 38, ../../../../../usr/local/Cellar/ruby/2.1.1/lib/ruby/gems/2.1.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/utilities/general/_clearfix.scss */
#wrap:after {
  content: "";
  display: table;
  clear: both;
}

/* line 368, ../sass/screen.scss */
.moves {
  width: 49.15254%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  clear: left;
}

/* line 373, ../sass/screen.scss */
.rationales {
  width: 49.15254%;
  float: right;
  margin-right: 0;
  *margin-left: -20px;
  display: inline;
}

/* line 377, ../sass/screen.scss */
.new-ivanhoe-meta {
  width: 32.20339%;
  float: right;
  margin-right: 0;
  *margin-left: -20px;
  display: inline;
  background: #eee;
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid #ccc;
  padding: 1px 1.5em;
}

/* line 384, ../sass/screen.scss */
.new-ivanhoe-form {
  width: 66.10169%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}

/* line 388, ../sass/screen.scss */
.author .description {
  width: 32.20339%;
  float: right;
  margin-right: 0;
  *margin-left: -20px;
  display: inline;
}

/* line 392, ../sass/screen.scss */
.author .roles {
  width: 66.10169%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
/* line 395, ../sass/screen.scss */
.author .roles .wp-post-image {
  float: right;
  margin-right: 0;
  margin-left: 1.5em;
  margin-top: 1.5em;
}

/* line 403, ../sass/screen.scss */
.commentlist {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
/* line 408, ../sass/screen.scss */
.commentlist li {
  border: 1px dotted #ccc;
  padding: 1.5em;
}
/* line 2, ../sass/_mixins.scss */
.commentlist li:before, .commentlist li:after {
  content: "";
  display: table;
  width: 100%;
}
/* line 8, ../sass/_mixins.scss */
.commentlist li:after {
  clear: both;
}
/* line 12, ../sass/_mixins.scss */
.commentlist li, .ie .commentlist li {
  *zoom: 1;
}
/* line 414, ../sass/screen.scss */
.commentlist .comment-author {
  width: 49.15254%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  line-height: 32px;
}
/* line 418, ../sass/screen.scss */
.commentlist .comment-author img {
  float: left;
  margin-right: 5px;
}
/* line 424, ../sass/screen.scss */
.commentlist .comment-meta {
  text-align: right;
  line-height: 32px;
}
/* line 428, ../sass/screen.scss */
.commentlist .comment-meta:after {
  display: table;
  content: ' ';
  width: 100%;
  height: 0;
  clear: both;
  line-height: 0;
  padding: 0;
}
/* line 438, ../sass/screen.scss */
.commentlist .children {
  margin-left: 8.47458%;
  margin-top: 1.5em;
}
