@charset "UTF-8";
/* line 4, ../sass/screen.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 8, ../sass/screen.scss */
html {
  background: #f6f6f6;
}

/* line 12, ../sass/screen.scss */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
  *zoom: 1;
  max-width: 59em;
  _width: 59em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(0%, rgba(100, 100, 225, 0.25)), color-stop(6.77966%, rgba(100, 100, 225, 0.25)), color-stop(6.77966%, rgba(0, 0, 0, 0)), color-stop(8.47458%, rgba(0, 0, 0, 0)), color-stop(8.47458%, rgba(100, 100, 225, 0.25)), color-stop(15.25424%, rgba(100, 100, 225, 0.25)), color-stop(15.25424%, rgba(0, 0, 0, 0)), color-stop(16.94915%, rgba(0, 0, 0, 0)), color-stop(16.94915%, rgba(100, 100, 225, 0.25)), color-stop(23.72881%, rgba(100, 100, 225, 0.25)), color-stop(23.72881%, rgba(0, 0, 0, 0)), color-stop(25.42373%, rgba(0, 0, 0, 0)), color-stop(25.42373%, rgba(100, 100, 225, 0.25)), color-stop(32.20339%, rgba(100, 100, 225, 0.25)), color-stop(32.20339%, rgba(0, 0, 0, 0)), color-stop(33.89831%, rgba(0, 0, 0, 0)), color-stop(33.89831%, rgba(100, 100, 225, 0.25)), color-stop(40.67797%, rgba(100, 100, 225, 0.25)), color-stop(40.67797%, rgba(0, 0, 0, 0)), color-stop(42.37288%, rgba(0, 0, 0, 0)), color-stop(42.37288%, rgba(100, 100, 225, 0.25)), color-stop(49.15254%, rgba(100, 100, 225, 0.25)), color-stop(49.15254%, rgba(0, 0, 0, 0)), color-stop(50.84746%, rgba(0, 0, 0, 0)), color-stop(50.84746%, rgba(100, 100, 225, 0.25)), color-stop(57.62712%, rgba(100, 100, 225, 0.25)), color-stop(57.62712%, rgba(0, 0, 0, 0)), color-stop(59.32203%, rgba(0, 0, 0, 0)), color-stop(59.32203%, rgba(100, 100, 225, 0.25)), color-stop(66.10169%, rgba(100, 100, 225, 0.25)), color-stop(66.10169%, rgba(0, 0, 0, 0)), color-stop(67.79661%, rgba(0, 0, 0, 0)), color-stop(67.79661%, rgba(100, 100, 225, 0.25)), color-stop(74.57627%, rgba(100, 100, 225, 0.25)), color-stop(74.57627%, rgba(0, 0, 0, 0)), color-stop(76.27119%, rgba(0, 0, 0, 0)), color-stop(76.27119%, rgba(100, 100, 225, 0.25)), color-stop(83.05085%, rgba(100, 100, 225, 0.25)), color-stop(83.05085%, rgba(0, 0, 0, 0)), color-stop(84.74576%, rgba(0, 0, 0, 0)), color-stop(84.74576%, rgba(100, 100, 225, 0.25)), color-stop(91.52542%, rgba(100, 100, 225, 0.25)), color-stop(91.52542%, rgba(0, 0, 0, 0)), color-stop(93.22034%, rgba(0, 0, 0, 0)), color-stop(93.22034%, rgba(100, 100, 225, 0.25)), color-stop(100.0%, rgba(100, 100, 225, 0.25)), color-stop(100.0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 6.77966%, rgba(0, 0, 0, 0) 6.77966%, rgba(0, 0, 0, 0) 8.47458%, rgba(100, 100, 225, 0.25) 8.47458%, rgba(100, 100, 225, 0.25) 15.25424%, rgba(0, 0, 0, 0) 15.25424%, rgba(0, 0, 0, 0) 16.94915%, rgba(100, 100, 225, 0.25) 16.94915%, rgba(100, 100, 225, 0.25) 23.72881%, rgba(0, 0, 0, 0) 23.72881%, rgba(0, 0, 0, 0) 25.42373%, rgba(100, 100, 225, 0.25) 25.42373%, rgba(100, 100, 225, 0.25) 32.20339%, rgba(0, 0, 0, 0) 32.20339%, rgba(0, 0, 0, 0) 33.89831%, rgba(100, 100, 225, 0.25) 33.89831%, rgba(100, 100, 225, 0.25) 40.67797%, rgba(0, 0, 0, 0) 40.67797%, rgba(0, 0, 0, 0) 42.37288%, rgba(100, 100, 225, 0.25) 42.37288%, rgba(100, 100, 225, 0.25) 49.15254%, rgba(0, 0, 0, 0) 49.15254%, rgba(0, 0, 0, 0) 50.84746%, rgba(100, 100, 225, 0.25) 50.84746%, rgba(100, 100, 225, 0.25) 57.62712%, rgba(0, 0, 0, 0) 57.62712%, rgba(0, 0, 0, 0) 59.32203%, rgba(100, 100, 225, 0.25) 59.32203%, rgba(100, 100, 225, 0.25) 66.10169%, rgba(0, 0, 0, 0) 66.10169%, rgba(0, 0, 0, 0) 67.79661%, rgba(100, 100, 225, 0.25) 67.79661%, rgba(100, 100, 225, 0.25) 74.57627%, rgba(0, 0, 0, 0) 74.57627%, rgba(0, 0, 0, 0) 76.27119%, rgba(100, 100, 225, 0.25) 76.27119%, rgba(100, 100, 225, 0.25) 83.05085%, rgba(0, 0, 0, 0) 83.05085%, rgba(0, 0, 0, 0) 84.74576%, rgba(100, 100, 225, 0.25) 84.74576%, rgba(100, 100, 225, 0.25) 91.52542%, rgba(0, 0, 0, 0) 91.52542%, rgba(0, 0, 0, 0) 93.22034%, rgba(100, 100, 225, 0.25) 93.22034%, rgba(100, 100, 225, 0.25) 100.0%, rgba(0, 0, 0, 0) 100.0%, rgba(0, 0, 0, 0) 100%);
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 6.77966%, rgba(0, 0, 0, 0) 6.77966%, rgba(0, 0, 0, 0) 8.47458%, rgba(100, 100, 225, 0.25) 8.47458%, rgba(100, 100, 225, 0.25) 15.25424%, rgba(0, 0, 0, 0) 15.25424%, rgba(0, 0, 0, 0) 16.94915%, rgba(100, 100, 225, 0.25) 16.94915%, rgba(100, 100, 225, 0.25) 23.72881%, rgba(0, 0, 0, 0) 23.72881%, rgba(0, 0, 0, 0) 25.42373%, rgba(100, 100, 225, 0.25) 25.42373%, rgba(100, 100, 225, 0.25) 32.20339%, rgba(0, 0, 0, 0) 32.20339%, rgba(0, 0, 0, 0) 33.89831%, rgba(100, 100, 225, 0.25) 33.89831%, rgba(100, 100, 225, 0.25) 40.67797%, rgba(0, 0, 0, 0) 40.67797%, rgba(0, 0, 0, 0) 42.37288%, rgba(100, 100, 225, 0.25) 42.37288%, rgba(100, 100, 225, 0.25) 49.15254%, rgba(0, 0, 0, 0) 49.15254%, rgba(0, 0, 0, 0) 50.84746%, rgba(100, 100, 225, 0.25) 50.84746%, rgba(100, 100, 225, 0.25) 57.62712%, rgba(0, 0, 0, 0) 57.62712%, rgba(0, 0, 0, 0) 59.32203%, rgba(100, 100, 225, 0.25) 59.32203%, rgba(100, 100, 225, 0.25) 66.10169%, rgba(0, 0, 0, 0) 66.10169%, rgba(0, 0, 0, 0) 67.79661%, rgba(100, 100, 225, 0.25) 67.79661%, rgba(100, 100, 225, 0.25) 74.57627%, rgba(0, 0, 0, 0) 74.57627%, rgba(0, 0, 0, 0) 76.27119%, rgba(100, 100, 225, 0.25) 76.27119%, rgba(100, 100, 225, 0.25) 83.05085%, rgba(0, 0, 0, 0) 83.05085%, rgba(0, 0, 0, 0) 84.74576%, rgba(100, 100, 225, 0.25) 84.74576%, rgba(100, 100, 225, 0.25) 91.52542%, rgba(0, 0, 0, 0) 91.52542%, rgba(0, 0, 0, 0) 93.22034%, rgba(100, 100, 225, 0.25) 93.22034%, rgba(100, 100, 225, 0.25) 100.0%, rgba(0, 0, 0, 0) 100.0%, rgba(0, 0, 0, 0) 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 6.77966%, rgba(0, 0, 0, 0) 6.77966%, rgba(0, 0, 0, 0) 8.47458%, rgba(100, 100, 225, 0.25) 8.47458%, rgba(100, 100, 225, 0.25) 15.25424%, rgba(0, 0, 0, 0) 15.25424%, rgba(0, 0, 0, 0) 16.94915%, rgba(100, 100, 225, 0.25) 16.94915%, rgba(100, 100, 225, 0.25) 23.72881%, rgba(0, 0, 0, 0) 23.72881%, rgba(0, 0, 0, 0) 25.42373%, rgba(100, 100, 225, 0.25) 25.42373%, rgba(100, 100, 225, 0.25) 32.20339%, rgba(0, 0, 0, 0) 32.20339%, rgba(0, 0, 0, 0) 33.89831%, rgba(100, 100, 225, 0.25) 33.89831%, rgba(100, 100, 225, 0.25) 40.67797%, rgba(0, 0, 0, 0) 40.67797%, rgba(0, 0, 0, 0) 42.37288%, rgba(100, 100, 225, 0.25) 42.37288%, rgba(100, 100, 225, 0.25) 49.15254%, rgba(0, 0, 0, 0) 49.15254%, rgba(0, 0, 0, 0) 50.84746%, rgba(100, 100, 225, 0.25) 50.84746%, rgba(100, 100, 225, 0.25) 57.62712%, rgba(0, 0, 0, 0) 57.62712%, rgba(0, 0, 0, 0) 59.32203%, rgba(100, 100, 225, 0.25) 59.32203%, rgba(100, 100, 225, 0.25) 66.10169%, rgba(0, 0, 0, 0) 66.10169%, rgba(0, 0, 0, 0) 67.79661%, rgba(100, 100, 225, 0.25) 67.79661%, rgba(100, 100, 225, 0.25) 74.57627%, rgba(0, 0, 0, 0) 74.57627%, rgba(0, 0, 0, 0) 76.27119%, rgba(100, 100, 225, 0.25) 76.27119%, rgba(100, 100, 225, 0.25) 83.05085%, rgba(0, 0, 0, 0) 83.05085%, rgba(0, 0, 0, 0) 84.74576%, rgba(100, 100, 225, 0.25) 84.74576%, rgba(100, 100, 225, 0.25) 91.52542%, rgba(0, 0, 0, 0) 91.52542%, rgba(0, 0, 0, 0) 93.22034%, rgba(100, 100, 225, 0.25) 93.22034%, rgba(100, 100, 225, 0.25) 100.0%, rgba(0, 0, 0, 0) 100.0%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 6.77966%, rgba(0, 0, 0, 0) 6.77966%, rgba(0, 0, 0, 0) 8.47458%, rgba(100, 100, 225, 0.25) 8.47458%, rgba(100, 100, 225, 0.25) 15.25424%, rgba(0, 0, 0, 0) 15.25424%, rgba(0, 0, 0, 0) 16.94915%, rgba(100, 100, 225, 0.25) 16.94915%, rgba(100, 100, 225, 0.25) 23.72881%, rgba(0, 0, 0, 0) 23.72881%, rgba(0, 0, 0, 0) 25.42373%, rgba(100, 100, 225, 0.25) 25.42373%, rgba(100, 100, 225, 0.25) 32.20339%, rgba(0, 0, 0, 0) 32.20339%, rgba(0, 0, 0, 0) 33.89831%, rgba(100, 100, 225, 0.25) 33.89831%, rgba(100, 100, 225, 0.25) 40.67797%, rgba(0, 0, 0, 0) 40.67797%, rgba(0, 0, 0, 0) 42.37288%, rgba(100, 100, 225, 0.25) 42.37288%, rgba(100, 100, 225, 0.25) 49.15254%, rgba(0, 0, 0, 0) 49.15254%, rgba(0, 0, 0, 0) 50.84746%, rgba(100, 100, 225, 0.25) 50.84746%, rgba(100, 100, 225, 0.25) 57.62712%, rgba(0, 0, 0, 0) 57.62712%, rgba(0, 0, 0, 0) 59.32203%, rgba(100, 100, 225, 0.25) 59.32203%, rgba(100, 100, 225, 0.25) 66.10169%, rgba(0, 0, 0, 0) 66.10169%, rgba(0, 0, 0, 0) 67.79661%, rgba(100, 100, 225, 0.25) 67.79661%, rgba(100, 100, 225, 0.25) 74.57627%, rgba(0, 0, 0, 0) 74.57627%, rgba(0, 0, 0, 0) 76.27119%, rgba(100, 100, 225, 0.25) 76.27119%, rgba(100, 100, 225, 0.25) 83.05085%, rgba(0, 0, 0, 0) 83.05085%, rgba(0, 0, 0, 0) 84.74576%, rgba(100, 100, 225, 0.25) 84.74576%, rgba(100, 100, 225, 0.25) 91.52542%, rgba(0, 0, 0, 0) 91.52542%, rgba(0, 0, 0, 0) 93.22034%, rgba(100, 100, 225, 0.25) 93.22034%, rgba(100, 100, 225, 0.25) 100.0%, rgba(0, 0, 0, 0) 100.0%, rgba(0, 0, 0, 0) 100%);
  background-position: left top;
  -webkit-background-origin: content;
  -moz-background-origin: content;
  -ms-background-origin: content-box;
  -o-background-origin: content-box;
  background-origin: content-box;
  -webkit-background-clip: content-box;
  -moz-background-clip: content-box;
  background-clip: content-box;
}
/* line 38, ../../../../../../../../Users/wsg4w/.rvm/gems/ruby-2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
body:after {
  content: "";
  display: table;
  clear: both;
}

/* line 21, ../sass/screen.scss */
a:link {
  color: #37c;
}
/* line 22, ../sass/screen.scss */
a:visited {
  color: #39c;
}
/* line 23, ../sass/screen.scss */
a:hover {
  color: #8c3;
  text-decoration: none;
}
/* line 24, ../sass/screen.scss */
a:active {
  color: #8a3;
}

/* line 27, ../sass/screen.scss */
input[type=text], label, textarea {
  display: block;
}

/* line 29, ../sass/screen.scss */
img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

/* line 38, ../sass/screen.scss */
label {
  font-size: 20px;
  font-weight: bold;
}

/* line 44, ../sass/screen.scss */
input[type=text], textarea {
  width: 100%;
  border-radius: 3px;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

/* line 52, ../sass/screen.scss */
textarea {
  display: block;
}

/* line 59, ../sass/screen.scss */
.eyebrow {
  margin: 0;
  color: #777;
  font-size: 90%;
  font-weight: bold;
}

/* line 66, ../sass/screen.scss */
.eyebrow + * {
  margin-top: 0 !important;
}

/* line 73, ../sass/screen.scss */
nav {
  display: block;
  float: right;
  text-align: right;
  width: 60%;
}
/* line 79, ../sass/screen.scss */
nav a {
  text-decoration: none;
  color: #777;
}
/* line 84, ../sass/screen.scss */
nav ul {
  list-style: none;
  padding-left: 0;
}
/* line 89, ../sass/screen.scss */
nav li {
  display: inline;
}
/* line 92, ../sass/screen.scss */
nav li + li:before {
  content: " · ";
  color: #ccc;
}

/* line 100, ../sass/screen.scss */
main {
  clear: both;
  overflow: hidden;
  zoom: 1;
  padding: 30px;
  border-radius: 5px;
}

/* line 108, ../sass/screen.scss */
main :first-child {
  margin-top: 0;
}

/* line 112, ../sass/screen.scss */
article {
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}

/* line 115, ../sass/screen.scss */
article h2 {
  font-size: 95%;
}

/* line 119, ../sass/screen.scss */
article h3 {
  font-size: 85%;
  color: red;
}

/* line 124, ../sass/screen.scss */
#game-metadata {
  float: right;
  width: 30%;
  font-size: 87.5%;
}

/* line 131, ../sass/screen.scss */
#game-metadata .description,
#game-metadata .players {
  background: rgba(0, 100, 200, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

/* Container for moves on single game template. */
/* line 138, ../sass/screen.scss */
#moves {
  float: left;
  width: 68%;
}

/* Container for indivdiual games. */
/* line 144, ../sass/screen.scss */
.game {
  width: 49.15254%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}

/* This finds any element. */
/* line 150, ../sass/screen.scss */
.game + .game:before,
.move + .move:before {
  font-family: "Arial Unicode MS";
  color: #999;
  content: "❖ ❖ ❖ ❖ ❖";
  text-align: center;
  display: block;
  clear: both;
  margin: 2em 0;
}

/* line 160, ../sass/screen.scss */
.game h1,
.game p {
  float: left;
  clear: left;
  width: 48%;
}

/* line 167, ../sass/screen.scss */
.game h2,
.game ul {
  float: right;
  clear: right;
  width: 48%;
}

/* line 173, ../sass/screen.scss */
.game h3 {
  float: right;
  clear: right;
  width: 45%;
}

/* line 179, ../sass/screen.scss */
.game ul {
  list-style: none;
  margin-top: 0;
  font-size: 90%;
}

/* line 185, ../sass/screen.scss */
.move .meta {
  font-size: 90%;
  font-style: italic;
  color: #999;
  margin-top: 0;
  margin-bottom: 4em;
}

/* line 193, ../sass/screen.scss */
#responding, #response {
  float: left;
  padding-top: 30px;
  text-align: left;
  width: 48%;
}

/* line 200, ../sass/screen.scss */
#response {
  float: right;
}

/* line 204, ../sass/screen.scss */
body > footer {
  padding: 30px 0;
  text-align: right;
  font-size: 90%;
}

/* line 210, ../sass/screen.scss */
body > footer a {
  text-decoration: none;
}

/* line 214, ../sass/screen.scss */
body > footer a + a:before {
  content: " | ";
  color: #bbb;
}

/* line 219, ../sass/screen.scss */
#make-a-move-button {
  float: right;
  width: 30%;
  font-size: 87.5%;
}

/* line 225, ../sass/screen.scss */
.button {
  width: 200px;
  height: 30px;
  line-height: 30px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-family: helvetica, arial;
  display: block;
  text-align: center;
  position: relative;
  background: #a8a8a8;
  margin-top: 10px;
  margin-bottom: 70px;
  /*Background Gradients */
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #0d658e), color-stop(50%, #0c577a), color-stop(51%, #014d71), color-stop(100%, #003e5c));
  background-image: -webkit-linear-gradient(bottom, #0d658e, #0c577a 50%, #014d71 51%, #003e5c);
  background-image: -moz-linear-gradient(bottom, #0d658e, #0c577a 50%, #014d71 51%, #003e5c);
  background-image: -o-linear-gradient(bottom, #0d658e, #0c577a 50%, #014d71 51%, #003e5c);
  background-image: linear-gradient(bottom, #0d658e, #0c577a 50%, #014d71 51%, #003e5c);
  /*background-image: -webkit-gradient(*/
  /*linear,*/
  /*left top,*/
  /*left bottom,*/
  /*color-stop(0, #0D658E),*/
  /*color-stop(1, #0C577A)*/
  /*);*/
  /*background-image: -o-linear-gradient(bottom, #0D658E 0%, #0C577A 50%, #014D71 51%, #003E5C);*/
  /*background-image: -moz-linear-gradient(bottom, #0D658E 0%, #0C577A 50%, #014D71 51%, #003E5C);*/
  /*background-image: -webkit-linear-gradient(bottom, #0D658E 0%, #0C577A 50%, #014D71 51%, #003E5C);*/
  /*background-image: -ms-linear-gradient(bottom, #0D658E 0%, #0C577A 50%, #014D71 51%, #003E5C);*/
  /*background-image: linear-gradient(to bottom, #0D658E 0%, #0C577A 50%, #014D71 51%, #003E5C);*/
  /*Border Radius */
  /*border-radius: 10px;*/
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #368DBE;
  border-top: 1px solid #C3D6DF;
}

/* line 267, ../sass/screen.scss */
.button:link,
.button:visited {
  color: white;
  color: rgba(255, 255, 255, 0.85);
}

/* line 268, ../sass/screen.scss */
.button:hover {
  color: white;
}

/* line 269, ../sass/screen.scss */
.button:active {
  color: white;
}

/* line 271, ../sass/screen.scss */
#make-a-move {
  width: 250px;
  height: 50px;
  line-height: 50px;
  font-size: 30px;
}
