@charset "UTF-8";
/* line 3, ../sass/screen.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 7, ../sass/screen.scss */
html {
  margin: 0;
  padding: 40px;
}

/* line 12, ../sass/screen.scss */
body {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  color: #444;
  margin: 0;
  padding: 0;
}

/* line 19, ../sass/screen.scss */
h1 {
  font-weight: 200;
  font-size: 2.5em;
  line-height: 1.2em;
}

/* line 24, ../sass/screen.scss */
h2 {
  font-weight: 700;
}

/* Links */
/* line 30, ../sass/screen.scss */
a:link {
  color: #004D05;
}
/* line 31, ../sass/screen.scss */
a:visited {
  color: #004D05;
}
/* line 32, ../sass/screen.scss */
a:hover {
  color: #8c3;
  text-decoration: none;
}
/* line 33, ../sass/screen.scss */
a:active {
  color: #8a3;
}
/* line 36, ../sass/screen.scss */
h1 a, h2 a {
  text-decoration: none;
}

/* Forms */
/* line 42, ../sass/screen.scss */
input[type=text], label, textarea {
  display: block;
}

/* line 44, ../sass/screen.scss */
label {
  font-size: 20px;
  font-weight: bold;
}

/* line 49, ../sass/screen.scss */
input[type=text], textarea {
  width: 100%;
  border-radius: 3px;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

/* line 56, ../sass/screen.scss */
textarea {
  display: block;
}

/* Images */
/* line 61, ../sass/screen.scss */
img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

/* WordPress Generated Classes */
/* line 68, ../sass/screen.scss */
.alignright {
  float: right;
  padding-left: .5em;
}

/* line 73, ../sass/screen.scss */
.aligncenter {
  margin-left: auto;
  margin-right: auto;
  padding-left: .5em;
  padding-right: .5em;
}

/* line 80, ../sass/screen.scss */
.alignleft {
  float: left;
  padding-right: .5em;
}

/* line 85, ../sass/screen.scss */
.wp-caption-text {
  font-size: 75%;
  text-align: center;
}

/* Custom Utility Classes */
/* line 91, ../sass/screen.scss */
.citation {
  font-variant: small-caps;
}

/* line 95, ../sass/screen.scss */
.eyebrow {
  margin: 0;
  color: #777;
  font-size: 90%;
  font-weight: bold;
}

/* line 102, ../sass/screen.scss */
.eyebrow + * {
  margin-top: 0 !important;
}

/* line 106, ../sass/screen.scss */
.button {
  width: 200px;
  height: 30px;
  line-height: 30px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  display: block;
  text-align: center;
  position: relative;
  background: #a8a8a8;
  margin-top: 10px;
  /*Background Gradients */
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #34612d), color-stop(100%, #217d0f), color-stop(100%, #b5d1b2));
  background-image: -webkit-linear-gradient(bottom, #34612d 0%, #217d0f 100%, #b5d1b2 100%);
  background-image: -moz-linear-gradient(bottom, #34612d 0%, #217d0f 100%, #b5d1b2 100%);
  background-image: -o-linear-gradient(bottom, #34612d 0%, #217d0f 100%, #b5d1b2 100%);
  background-image: linear-gradient(bottom, #34612d 0%, #217d0f 100%, #b5d1b2 100%);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #368DBE;
  border-top: 1px solid #C3D6DF;
}
/* line 127, ../sass/screen.scss */
.button:link, .button:visited {
  color: white;
  color: rgba(255, 255, 255, 0.85);
}
/* line 132, ../sass/screen.scss */
.button:hover, .button:active {
  color: white;
}

/* line 138, ../sass/screen.scss */
.return-button {
  margin-top: 20px;
  text-align: right;
  float: right;
}

/* Banner */
/* line 146, ../sass/screen.scss */
header[role=banner] {
  overflow: hidden;
  *zoom: 1;
  border-bottom: 1px solid #ccc;
}
/* line 150, ../sass/screen.scss */
header[role=banner] h1 {
  font-size: 2.25em;
  line-height: 1.33333em;
}

/* Main Navigation */
/* line 157, ../sass/screen.scss */
nav {
  display: block;
  float: right;
  text-align: right;
  width: 60%;
}
/* line 163, ../sass/screen.scss */
nav a {
  text-decoration: none;
  color: #777;
}
/* line 168, ../sass/screen.scss */
nav ul {
  list-style: none;
  padding-left: 0;
}
/* line 173, ../sass/screen.scss */
nav li {
  display: inline;
}
/* line 176, ../sass/screen.scss */
nav li + li:before {
  content: " · ";
  color: #ccc;
}

/* Main Content Container */
/* line 184, ../sass/screen.scss */
main {
  clear: both;
  overflow: hidden;
  zoom: 1;
  border-radius: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* line 193, ../sass/screen.scss */
#game-data, .source-response-container {
  width: 32.20339%;
  float: right;
  margin-right: 0;
  *margin-left: -20px;
  display: inline;
  background: #eee;
  background: rgba(0, 0, 0, 0.05);
  clear: both;
  border: dotted 1px #ccc;
  padding: 1px 1.5em;
}

/* line 202, ../sass/screen.scss */
#moves {
  width: 66.10169%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  text-align: justify;
}

/* line 207, ../sass/screen.scss */
.discussion-source {
  border-bottom: 1px dotted gray;
}

/* line 211, ../sass/screen.scss */
.discussion-response {
  border-bottom: 1px dotted gray;
}

/* line 215, ../sass/screen.scss */
.options {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  text-align: center;
}

/* line 222, ../sass/screen.scss */
article {
  background-color: white;
  background-color: rgba(255, 255, 255, 0.9);
  border: dotted 1px #ccc;
  margin-bottom: 1.5em;
  padding: 1px 1.5em;
  /* Removes padding, background, and border on the first article on blog posts and author pages. */
  overflow: hidden;
  *zoom: 1;
  /* Articles with a class of role. */
    /* Articles with a class of move.
    &.move {
        margin-bottom: rhythm(3);
        @include clearfix;
    }

    /* Articles with a class of game. */
}
/* line 231, ../sass/screen.scss */
.single main > article, .author main > article {
  padding: 0;
  background: none;
  border: none;
}
/* line 241, ../sass/screen.scss */
article.role {
  width: 100%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
/* line 244, ../sass/screen.scss */
article.role .wp-post-image {
  float: left;
  margin-right: 1.5em;
}
/* line 258, ../sass/screen.scss */
article.game article {
  padding: 1.5em;
}
/* line 262, ../sass/screen.scss */
article.game header {
  width: 100%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  margin-top: 0;
  margin-bottom: 1.5em;
  padding: 0;
}
/* line 269, ../sass/screen.scss */
article.game h1 {
  font-size: 400%;
  font-variant: small-caps;
  margin-bottom: 5px;
  margin-top: 5px;
}
/* line 277, ../sass/screen.scss */
article.game .move h1 {
  font-size: 200%;
  margin-bottom: 5px;
  margin-top: 5px;
}
/* line 285, ../sass/screen.scss */
article ul {
  list-style: none;
  margin-top: 0;
  font-size: 90%;
  padding-left: 0;
}
/* line 292, ../sass/screen.scss */
article header {
  overflow: hidden;
  *zoom: 1;
}
/* line 295, ../sass/screen.scss */
article header .button {
  float: right;
  display: inline;
}
/* line 300, ../sass/screen.scss */
article header p {
  width: 49.15254%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}

/* line 307, ../sass/screen.scss */
.game-discussion-source {
  width: 43.18182%;
  float: left;
  margin-right: 2.27273%;
  display: inline;
}

/* line 311, ../sass/screen.scss */
.game-discussion-response {
  width: 43.18182%;
  float: right;
  margin-right: 0;
  *margin-left: -20px;
  display: inline;
}

/* line 315, ../sass/screen.scss */
.move .meta {
  font-size: 90%;
  color: #999;
  margin-top: 0;
  margin-bottom: 4em;
}

/* Global footer */
/* line 323, ../sass/screen.scss */
footer[role=contentinfo] {
  overflow: hidden;
  *zoom: 1;
  border-top: 1px solid #ccc;
  padding: 4.5em 0;
}
/* line 328, ../sass/screen.scss */
footer[role=contentinfo] .ivanhoelink {
  display: block;
  width: 25.42373%;
  margin-left: auto;
  margin-right: auto;
}

/* line 337, ../sass/screen.scss */
#pagination {
  width: 74.57627%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  margin-bottom: 50px;
}

/* line 342, ../sass/screen.scss */
.attribution {
  color: red;
  font-variant: small-caps;
}

/* line 348, ../sass/screen.scss */
.new-post > div {
  margin-bottom: 1.5em;
}

/* line 353, ../sass/screen.scss */
.wp-editor-wrap * {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  /* Fixes tab height issue. */
}

/* line 357, ../sass/screen.scss */
#wrap {
  background-color: white;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #ccc;
  *zoom: 1;
  max-width: 1180px;
  _width: 1180px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
/* line 38, ../../../../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#wrap:after {
  content: "";
  display: table;
  clear: both;
}

/* line 364, ../sass/screen.scss */
.moves {
  width: 49.15254%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  clear: left;
}

/* line 369, ../sass/screen.scss */
.rationales {
  width: 49.15254%;
  float: right;
  margin-right: 0;
  *margin-left: -20px;
  display: inline;
}

/* line 373, ../sass/screen.scss */
.new-ivanhoe-meta {
  width: 32.20339%;
  float: right;
  margin-right: 0;
  *margin-left: -20px;
  display: inline;
  background: #eee;
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid #ccc;
  padding: 1px 1.5em;
}

/* line 380, ../sass/screen.scss */
.new-ivanhoe-form {
  width: 66.10169%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}

/* line 384, ../sass/screen.scss */
.author .description {
  width: 32.20339%;
  float: right;
  margin-right: 0;
  *margin-left: -20px;
  display: inline;
}

/* line 388, ../sass/screen.scss */
.author .roles {
  width: 66.10169%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
/* line 391, ../sass/screen.scss */
.author .roles .wp-post-image {
  float: right;
  margin-right: 0;
  margin-left: 1.5em;
  margin-top: 1.5em;
}
