<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }} · {% endif %}{{ site.title }}</title>
  {% if page.description %}
  <meta name="description" content="{{ page.description }}">
  {% endif %}
  <meta name="author" content="{{ site.author }}">
  <meta name="robots" content="index,follow">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <!-- Style Sheets -->
  <link href='http://fonts.googleapis.com/css?family=Crimson+Text|Dosis|Bitter|Roboto+Slab|Open+Sans|Slabo|PT+Sans|Raleway' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/stylesheets/screen.css" media="all" type="text/css">
  {% for css in page.css %}
  <link rel="stylesheet" href="{{ css }}" type="text/css">
  {% endfor %}

</head>

<body class="{{ page.bodyclass }}">
<a href="#main" class="audible">Skip to main content</a>
  <header id="banner" role="banner">
      <h1><a href="/index.html">{{ site.title }}</a></h1>
      <em class="tagline">Collaborate · Perform · Reflect</em>
      <nav>
          <ul>
              <li><a href="/index.html">Home</a></li>              
              <li><a href="/about.html">About</a></li>
              <li><a href="/documentation.html">Documentation</a></li>
          </ul>
      </nav>
  </header>

  <main id="main" role="main">
    {{ content }}
  </main>

<footer id="contentinfo" role="contentinfo">

  <a href="https://github.com/scholarslab/ivanhoe">Github</a>

  <a href="http://creativecommons.org/licenses/by/3.0/">CC-BY 3.0</a>

  <a href="https://scholarslab.org" id="slab-link"><img alt="Slab-logo-black-200px" src="http://static.scholarslab.org/images/logos/slab/slab-logo-black-200px.png" /></a>

</footer>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="/fonts.js"></script>
<script src="/letterhover.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-12081576-6', 'scholarslab.org');
  ga('send', 'pageview');

</script>

</body>
</html>

