---
layout: default
bodyclass: archive post
---
<article class="post {{ page.categories }}">

    <header>
        <span class="eyebrow" aria-hidden="true">{{ page.category }}</span>        
        <h1>{{ page.title }}</h1>
        {% if page.subtitle %}
        <h2>{{ page.subtitle }}</h2>
        {% endif %}

        {% if page.author %}
        <p class="author">by <em>{{ page.author }}</em></p>
        {% endif %}

    </header>
    {% if page.image %}
    <div class="cover">
        <img src="/i/{{ page.title | slugify }}.jpg" alt="">
    </div>
    {% endif %}
    <div class="content">

    {{ content }}

    {% if page.reading %}
    
    {% for post in site.posts %}
    {% if post.title == page.reading %}
    <div class="reading">
        <div class="cover">
            <img src="/i/{{ post.title | slugify }}.jpg" alt="">
        </div>
        <span class="eyebrow">A reading note for</span>
        <a href="{{ post.url }}">{{ post.title }}</a>
            {% if post.image %}
    {% endif %}

    </div>
    {% endif %}
    {% endfor %}

    {% endif %}
    </div>
    <footer>
        <time datetime="{{ page.date | date: '%Y-%m-%d' }}">{{ page.date | date: '%B %d, %Y' }}</time>
    </footer>
</article>

